PORT=3000
DB_PATH=./database.sqlite
LIBRARY_PATH=
# VITE_PLACEHOLDER_PAGES=true
TAG_METADATA_AUTO_REFRESH=true
TAG_METADATA_REFRESH_HOURS=24
TAG_METADATA_URL=https://github.com/EhTagTranslation/DatabaseReleases/raw/master/db.html.json
SYSTEM_SHUTDOWN_ENABLED=false
